* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
}

:root {
    font-size: 16px;
    --roboto: 'Roboto', sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --margin: 0 7rem 0 7rem;    
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.466),rgba(46, 46, 46, 0.363)), url("/images/pexels-francesco-ungaro-1327000.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
 
/* Header */
header {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header > p {
    margin-left: 5rem;
    padding: .5rem 3rem .5rem 3rem;
    font-size: 2.5rem;
    font-family: var(--bebas);
    border: 1px solid gray;
}

.button {
    margin-top: 1rem;
    background-color: hsla(22, 89%, 57%, 0.884);
    font-size: .9rem;
    padding: .4rem 1.5rem .4rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 3px;
}

.fourth.button {
    margin-top: 1rem;
    background-color: hsla(22, 89%, 57%, 0.884);
    font-size: .9rem;
    padding: .4rem 1.5rem .4rem 1.5rem;
    outline: none;
    border: 2px solid white;
    border-radius: 3px;
}

.fourth.button:hover {
    background-color: white;
    color:hsla(22, 89%, 57%, 0.884);;
    transition: ease-out .3s;
}

button:hover {
    background-color: white;
    color:hsla(22, 89%, 57%, 0.884);;
    transition: ease-out .3s;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: .1rem;
    margin-right: 5rem;
    padding: 1.4rem;
    border: 1px solid gray;
}

header {
    flex-flow: row wrap;
}

/* first div */

.first {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 3rem;
    margin: var(--margin);
    color: white;
    flex-flow: row wrap;

}

.left {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 30vw;
}

.left button {
    align-self: flex-end;
}

.left h1 {
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 40px white;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.left p {
    font-size: 1.1rem;
}

.right {
    margin-top: 2rem;
    height: 250px;
    width: 650px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 30vw;
}

.img > p {
    text-align: center;
    line-height: 240px;
}

/* second div */

.second {
    background-color: #08110b9c;
    padding: 40px;
}

.second h4{
    font-size: 36px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: white;
}

.square:hover {
    color: green;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    width: 150px;
    text-align: center;
    color: #08110b00;
    transition: ease-in .8s;
    margin-bottom: 1rem;
}

.box > p {
    margin-top: .5rem;
    font-style: italic;
    font-weight: 700;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.box:hover {
    color: white;

}

.square {
    height: 144px;
    width: 144px;
    background-color: azure;
    border-radius: 3px;
}

/* third div */

.third {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.466),rgba(46, 46, 46, 0.363)), url('/images/pexels-francesco-ungaro-1327000.jpg');
    background-color: rgb(222, 220, 245);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
    /* justify-content: center;
    align-items: center; */
    padding: 5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: var(--margin);
}

.saying {
    align-self: center;
    width: 40vw;
}

.third .sayer {
    margin-left: 25rem;
    align-self: center;
}

.sayer {
    font-weight: 800;
    size: 1.5rem;
    color: white;
}

.saying > p {
    text-shadow: 0px 0px 5px rgb(233, 233, 233), 0px 0px 20px rgb(221, 221, 221), 0px 0px;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: white;
    margin-bottom: 1rem;
}

/* fourth div */

.fourth {
    display: flex;
    justify-content: center;
    padding: 5rem;    
    background-color: #08110b9c;
    color: white;
}

.for {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 5rem 1.5rem 5rem;
    background-color: hsla(22, 89%, 57%, 0.884);
    border-radius: 3px;
    gap: 3rem;
}

.text :first-child {
    font-weight: 900;
}

.text :last-child {
    font-size: .9rem;
}

/* footer */

footer {
    padding: 1rem;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header {
        text-align: center;
        justify-content: center;
    }

    header ul {
        margin-left: 9.5rem;
    }

    .first {
        padding: 0;
        height: auto;
        flex-direction: column;
        gap: 0;
    }
 
    .first, .third {
        margin-left: 0;
        margin-right: 0;  
    }

     .left h1 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .left, .right {
        width: auto;
        text-align: center;
        margin: 1rem;
    }

    .left button {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: center;
    }

    .boxes {
        gap: 0;
    }

    .second {
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .boxes {
        margin-top: 0;
        gap: 0;
    }

    .third {
        margin-top: 1rem;
        padding: 0;
        display: flex;
        gap: 0;
    }

    .third p {
        font-size: 1.5rem;
        padding: 0;
    }

    .third .sayer {
        font-weight: 100;
        margin-left: 0;
        color: white;
        width: 100%;
    }

    .fourth {
        padding: 0;
    }

    .for {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;
        text-align: center;
        gap: 0;
    }

    .for button {
        margin-bottom: 2rem;
    }

    footer {
        padding: 1rem;
    }
}