body {
    box-sizing: border-box;
    margin: 0 195px;
    padding: 0;

    background-color: black;



}

h1, h4, p, a {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

a {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    padding: 30px;
 
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.hero .right {
    display: flex;
    background-color: #666;
    height: 300px;
    width: 300px;

    align-items: center;
    justify-content: center;
}

.hero .left {
    max-width: 500px;
}

.content {
    background-color: #f9faf8;
    padding: 50px;
}

.content h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.content p {
    color: #666;
}


.flex-container {
    margin-top: 10px;
    display: flex; 
    gap: 20px;
    padding: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  

.flex-container .one {
    display: flex;
    background: white;
    border: 4px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 10%;

}

.flex-container p {
    margin-top: 5px;
    display: flex;
    width: 100px;
    text-align: center;
}

.quote {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e5e7eb;
}

.quote .sayer {
    align-self: flex-end;
}

.quote h1 {
    font-size: 26px;
    font-weight: 350;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    font-size: 16px;
    color: #1f2937;
}

.contact {
    padding: 50px;
    background-color: #f9faf8;
}

.box {
    display: flex;
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 3px;

    justify-content: space-around;
    align-items: center;
}

.box p {
    font-size: 12px;
}

.box button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    outline: white;

}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 12px;
    padding: 1em;
    text-align: center;
}